<section id="contacto">
    <div class="inner-wrapper">
    <h2>Contacto</h2>
    
    <a href="tel:+34687506002" alt="Teléfono" target="_blank">
        <i class="icon-phone"></i>
        <h4>+34 687 50 60 02</h4>
    </a>    

    <a href="skype:marisova54?call" alt="Skype" target="_blank">
        <i class="icon-skype"></i>
        <h4>Marisova54</h4>
    </a>

    <a href="mailto:marisa.molero@gmail.com" alt="Email" target="_blank">
        <i class="icon-mail"></i>
        <h4>marisa.molero@gmail.com</h4>
    </a>

    <a href="http://twitter.com/Marrissovva" alt="Twitter" target="_blank">
        <i class="icon-twitter"></i>
        <h4>Twitter.com/Marrissovva</h4>
    </a>
    </div>
</section>