
            <footer role="contentinfo">
                <h5><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">CC</a> <a href="http://marisamolero.es">MARISA MOLERO</a>, POWERED BY <a href="http://descuadro.com" rel="external" target="_blank">DESCUADRO</a></h5>
                <section class="links">
                    <h5><a href="http://www.cesamedicinaestetica.com/" rel="external" target="_blank">
                        Asociada con la clínica de la Dra. Silvia Cesa:
                        <img src="/images/cesa1.jpg" alt="Dra. Silvia Cesa">
                    </a></h5>
                </section>  
            </footer>          
        </main>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[["_setAccount","UA-40832607-1"],["_trackPageview"]];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g,s)}(document,"script"));    
        </script>

        <!-- build:js scripts/main.js -->
        <script src="/_bower_components/jquery/jquery.js"></script>
        <script src="/scripts/plugins.js"></script>
        <script src="/scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>