<section id="consulta">
    <div>
    <div class="inner-wrapper">
        <h2><span>Consulta</span> <span>Nutricional</span></h2>
		<!-- <p>Una alimentación saludable es parte esencial de una vida sana.</p>  -->

        <blockquote>"Que la medicina sea tu alimento, y el alimento tu medicina"<small>Hipócrates</small></blockquote>
        
        <div class="text-wrap">
            <p>El peso no es accidental ni inevitable, sino el saldo
            de lo que consumes y lo que gastas; es decir, de tu alimentación y tu actividad.</p>
            <p>Seguir una dieta puede ser un proceso cómodo y ligero, porque no trata de restringir tus alimentos, sino de entender tu metabolismo y enseñarte a vigilar los tiempos y las cantidades.</p>
        </div>
    </div>    

    <div class="circles">
        <div class="circle-wrapper">
            <div id="circle-1" class="circle circle-1">
                <div class="inner-wrapper">
                <i class="icon-online"></i>
                <h3>Online</h3>
                <p>Aprovecha las ventajas de Internet para perder peso cómodamente desde tu domicilio, bajo una supervisión profesional.</p>
                </div>
            </div>

            <div id="circle-2" class="circle circle-2">
                <div class="inner-wrapper">
                <i class="icon-presencial"></i>
                <h3>Presencial</h3>
                <p>Disfruta de un seguimiento más cercano y trabaja mano a mano conmigo para alcanzar tu peso ideal.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="inner-wrapper">
        <aside>
            <a class="ajax" href="pages/datos-ajax.html" rel="internal">
            <span class="enormous">!</span><i class="icon-paciente"></i>
            <p class="outro">Antes de empezar una consulta, necesito conocer una serie de datos sobre el paciente. Pincha aquí para saber más.</p>
            </a>
        </aside>
        </div>
    </div>
</section>