<nav id="nav">
    <ul>
        <div class="wrapper">
            <div class="inner-wrapper">
            <a class="close" href="javascript:void(0)"><i class="icon-close"></i></a>

            <li><a href="#consulta" title="Consulta">
                <i class="icon-nutricion"></i>
                <p>Mejora tu salud</p>
                <h2>Consulta Nutricional</h2>
            </a></li>
            <li><a class="ajax external" href="pages/homeopatia-ajax.html" rel="internal" title="Homeopatía">
                <i class="icon-homeopatia"></i>
                <p>Efectiva, asequible y sin efectos secundarios</p>
                <h2>Homeopatía</h2>
            </a></li>
            <li><a class="ajax external" href="pages/fitoterapia-ajax.html" rel="internal" title="Fitoterapia">
                <i class="icon-fitoterapia"></i>
                <p>Una alternativa al fármaco sintético</p>
                <h2>Fitoterapia</h2>
            </a></li>
            <li><a href="/blog" class="external" title="Blog">
                <i class="icon-blog"></i>
                <p>El estado de la salud</p>
                <h2>Blog</h2>
            </a></li>
            <li><a href="#contacto" title="Contacto">
                <i class="icon-contacto"></i>
                <p>Si necesitas más información,</p>
                <h2>Contacto</h2>
            </a></li>
            <li><a href="images/CVMarisaMolero.pdf" class="external" title="Currículum">
                <i class="icon-cv"></i>
                <p>Descarga mi</p>
                <h2>Currículum</h2>
            </a></li>
            </div>
        </div>
    </ul>
</nav>